@model ProyectoSadas.Models.Solicitud

@{
    ViewData["Title"] = "Detalles";
}
<br />
<h1>Detalles de solicitud</h1>

<div>
    <hr />
   <table class="table">
    <thead>
        <tr class="text-center">
            <th>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FechaRealiza)
                    </dt>
            </th>
            <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaRealiza)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombrePersonaSolicitante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombrePersonaSolicitante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PuestoDesenpenna)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PuestoDesenpenna)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OtroAnote)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OtroAnote)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NumeroTelefono)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NumeroTelefono)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CorreoElectronico)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CorreoElectronico)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FechaRecibe)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaRecibe)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SedeRecibe)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SedeRecibe)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombrePersonaRecibe)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombrePersonaRecibe)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MetodoEnvio)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MetodoEnvio)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TipoDocumentoIdentidadPersonaEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TipoDocumentoIdentidadPersonaEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DocumentoIdentidadPersonaEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DocumentoIdentidadPersonaEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombrePersonaEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombrePersonaEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FechaNacimientoEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FechaNacimientoEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EdadEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EdadEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NivelEducativoEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NivelEducativoEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ServicioEducativoPerteneceEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ServicioEducativoPerteneceEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DescripcionCondicionPresentaEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DescripcionCondicionPresentaEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombreMadreEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombreMadreEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombrePadreEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombrePadreEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OtraPersonaResponsableEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OtraPersonaResponsableEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CorreoElectronicoEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CorreoElectronicoEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NumeroTelefonoEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NumeroTelefonoEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProvinciaEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProvinciaEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CantonEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CantonEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DistritoEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DistritoEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DireccionEstudiante)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DireccionEstudiante)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombreCentroEducativo)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombreCentroEducativo)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NumeroTelefonoCentroEducativo)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NumeroTelefonoCentroEducativo)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OtroNumeroTelefonoCentroEducativo)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OtroNumeroTelefonoCentroEducativo)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CorreoElectronicoCentroEducativo)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CorreoElectronicoCentroEducativo)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProvinciaCentroEducativo)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProvinciaCentroEducativo)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CantonCentroEducativo)
    </dt>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CantonCentroEducativo)
    </dd>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DistritoCentroEducativo)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DistritoCentroEducativo)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DireccionCentroEducativo)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DireccionCentroEducativo)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RegionEducativaCentroEducativo)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RegionEducativaCentroEducativo)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CircuitoCentroEducativo)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CircuitoCentroEducativo)
    </dd>
     </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PersonaDocenteCentroEducativo)
    </dt>
     </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PersonaDocenteCentroEducativo)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CorreoPersonaDocenteCentroEducativo)
    </dt>
     </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CorreoPersonaDocenteCentroEducativo)
    </dd>
     </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.NombrePersonaCentroEducativo)
    </dt>
     </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.NombrePersonaCentroEducativo)
    </dd>
     </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MotivoSolicitud)
    </dt>
     </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MotivoSolicitud)
    </dd>
     </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoOrganizatiVoSolicitud)
    </dt>
     </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoOrganizatiVoSolicitud)
    </dd>
     </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductoApoyoEmpleadoSolicitud)
    </dt>
     </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductoApoyoEmpleadoSolicitud)
    </dd>
     </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ServicioApoyoRecibe)
    </dt>
     </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ServicioApoyoRecibe)
    </dd>
     </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ServicioApoyoRecibeRegionEducativa)
    </dt>
     </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ServicioApoyoRecibeRegionEducativa)
    </dd>
     </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoComunicacion)
    </dt>
     </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoComunicacion)
    </dd>
     </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoComunicacionDescripcion)
    </dt>
     </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoComunicacionDescripcion)
    </dd>
     </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoAutocuidado)
    </dt>
     </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoAutocuidado)
    </dd>
     </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoAutocuidadoDescripcion)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoAutocuidadoDescripcion)
    </dd>
    </th>
    <th>
    
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoAcademica)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoAcademica)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoAcademicaDescripcion)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoAcademicaDescripcion)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoMotriz)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoMotriz)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoMotrizDescripcion)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoMotrizDescripcion)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoVisual)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoVisual)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoVisualDescripcion)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoVisualDescripcion)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoUtilizacionComunidad)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoUtilizacionComunidad)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoUtilizacionComunidadDescripcion)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoUtilizacionComunidadDescripcion)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoFormacionTrabajo)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoFormacionTrabajo)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoFormacionTrabajoDescripcion)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoFormacionTrabajoDescripcion)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoOtros)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoOtros)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ApoyoEducativoRequeridoOtrosDescripcion)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ApoyoEducativoRequeridoOtrosDescripcion)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AsesoriaPrevia)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AsesoriaPrevia)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SedeAsesoriaPrevia)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SedeAsesoriaPrevia)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AdjuntaCertificacionMedicaCCSS)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AdjuntaCertificacionMedicaCCSS)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.AdjuntaCertificacionMedicaCONAPDIS)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.AdjuntaCertificacionMedicaCONAPDIS)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductoApoyoGubernamental)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductoApoyoGubernamental)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductoApoyoGubernamentalDescripcion)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductoApoyoGubernamentalDescripcion)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductoApoyoNoGubernamental)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductoApoyoNoGubernamental)
    </dd>
    </th>
    <th>
    <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductoApoyoNoGubernamentalDescripcion)
    </dt>
    </th>
    <th>
    <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductoApoyoNoGubernamentalDescripcion)
    </dd>
    </th>
    <th>
    </dl>
      </tr>
        </thead>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver al índice</a>
</div>
