@model IEnumerable<ProyectoSadas.Models.Solicitud>

@{
    ViewData["Title"] = "Índice";
}
<br />
<h1>Índice</h1>

<p>
    <a asp-action="Create">Registrar nueva solicitud</a>
</p>
<table class="table">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.FechaRecibe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SedeRecibe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePersonaRecibe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePersonaSolicitante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentoIdentidadPersonaEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePersonaEstudiante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Convert.ToDateTime(item.FechaRecibe).ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SedeRecibe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePersonaRecibe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePersonaSolicitante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoIdentidadPersonaEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePersonaEstudiante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
